.header{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(213, 9, 9));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    position: static;
    top: 0;
    position: fixed;
    width: 100%;
}

.header span {
    margin: 0 10px;
    font-weight: bold;
}